
@{
    ViewBag.Title = "Biografia";
}

<h2>Biografia</h2>

<p>

    El párrafo consta de una idea central, que por lo general se sintetiza en una 
    oración llamada oración temática (que orientará el desarrollo del párrafo y 
    será el eje del mismo), y de oraciones secundarias o de apoyo, que son los 
    argumentos que explican y sostienen la idea principal.
</p>
