@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Aplicacion de Jhojan ;v</h1>
    <p class="lead">Mi primera pagina en ASP</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">No le espiche! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>CRUD USUARIO</h2>
        <p>
            Dirigirse a el CRUD de Usuario
        </p>
        <p><a class="btn btn-default" href="https://localhost:44355/Usuario/Index">IR &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CRUD CLIENTE</h2>
        <p>Dirigirse a el CRUD de Producto </p>
        <p><a class="btn btn-default" href="https://localhost:44355/Cliente/Index">IR &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CRUD PROVEEDOR</h2>
        <p>Dirigirse a el CRUD de Proveedor</p>
        <p><a class="btn btn-default" href="https://localhost:44355/Proveedor/Index">IR &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CRUD ROLES </h2>
        <p>Dirigirse a el CRUD de Roles </p>
        <p><a class="btn btn-default" href="https://localhost:44355/Roles/Index">IR &raquo;</a></p>
    </div>
   

</div>