@model IEnumerable<Aplicacion_de_asp.Models.usuario>
<select class="form-control" id="id_usuario"name="id_usuario">
    @foreach(var item in Model)
            {
                <option value="@item.id">@item.nombre</option>
            }

</select>

