@model IEnumerable<Aplicacion_de_asp.Models.compra>
<select class="form-control" id="id_compra" name="id_compra">
    @foreach (var item in Model)
    {
        <option value="@item.id">@item.id</option>
    }
</select>
