@model IEnumerable<Aplicacion_de_asp.Models.roles>
<select class="form-control" id="idRol" name="idRol">
    @foreach (var item in Model)
    {
        <option value="@item.id">@item.descripcion</option>
    }

</select>
