<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Plantilla - Nuevo Layout</title>
</head>
<body>
    <div>
        @RenderBody()

        <p>
            @RenderSection("textoParrafo", required: true)
        </p>
    </div>
</body>
</html>
