
@{
    ViewBag.Title = "Index";
}
@{
    var num1 = 12;
}

<h2>Index</h2>
<p>
    Hola, esto es un parrafo de prueba 
   @num1

</p>
<table>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>
<button>Boton :v</button>
<input type="text"/>
